@import url("../index.css");

.gameBox {
    display: flex;
    width: 700px;
    height: 700px;
    padding: 30px;
    background-color: black;
    text-align: center;
    flex-direction: column;
}

.gameArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 10px;
    width: 640px;
    height: 640px;
    background-color: lightgrey;
    border-radius: 10px;
}

.diceArea {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    row-gap: 16px;
    padding: 10px;
    margin-top: 32px;
    margin-bottom: 32px;
    justify-items: center;
}

.rollButtonArea {
    padding: 16px;
}
