.diceButton {
    width: 64px;
    height: 64px;
    font-size: 2em;
    border-radius: 8px;
    box-shadow: 1px 1px 4px grey;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
